body{
  margin:0;
  font-family:Khmer OS Bokor;
  background:#eef4ff;
}

.topbar{
  background:#1aa4bd;
  color:white;
  padding:5px;
  display:flex;
  align-items:center;
}

.menu-btn{
  font-size:22px;
  cursor:pointer;
  margin-right:10px;
}

.sidebar{
  position:fixed;
  top:0;
  left:-260px;
  width:260px;
  height:100%;
  background:#111827;
  color:white;
  padding-top:60px;
  transition:0.3s;
  z-index:100;
}

.sidebar a{
  display:block;
  padding:12px;
  cursor:pointer;
  color:white;
  text-decoration:none;
}

.sidebar a:hover{
  background:#1aa4bd;
}


.title{
  text-align:center;
  margin:15px 0;
  font-weight:bold;
  color:#1aa4bd;
}
.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  display:none;
  z-index:99;
}


/* GRID */
.dashboard{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:12px;
  padding:10px;
}

/* CARD STYLE */
.box{
  text-align:center;
  padding:15px;
  border-radius:14px;
  transition:0.3s;
  cursor:pointer;
  position:relative;
  overflow:hidden;
}

/* HOVER EFFECT */
.box:hover{
  transform:translateY(-5px) scale(1.02);
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* COLORS */
.blue{ background:#e8f1ff; color:#ab0a07; }
.purple{ background:#f3e8ff; color:#0252ff; }
.green{ background:#e8ffe9; color:#04c544; }
.orange{ background:#fff3e6; color:#ff9800; }
.red{ background:#ffffff; color:#df1313; }

/* NUMBER STYLE */
.box h1{
  font-size:28px;
  margin-top:5px;
  transition:0.3s;
}

/* SMALL ANIMATION */
.box:hover h1{
  transform:scale(1.1);
}
.container{
  max-width:1780px;
  margin:auto;
  padding:1px;
}

.card{
  background:white;
  padding:12px;
  border-radius:10px;
  margin-bottom:10px;
  box-shadow:0 6px 15px rgba(2, 104, 138, 0.709);
}










@keyframes popup{
  from{transform:scale(.85);opacity:0;}
  to{transform:scale(1);opacity:1;}
}


